<section class="container">
  <h2 class="titulo">Transferências</h2>
  <table class="tabela">
    <thead class="tabela__cabecalho">
      <th class="tabela__cabecalho__conteudo">Data</th>
      <th class="tabela__cabecalho__conteudo">Valor</th>
      <th class="tabela__cabecalho__conteudo">Destino</th>
    </thead>
    <tbody *ngIf="transferencias?.length > 0; else semTransferencia;">
      <tr class="tabela__linha" *ngFor="let trasferencia of transferencias">
        <td class="tabela__conteudo">{{trasferencia?.data | date:'short'}}</td>
        <td class="tabela__conteudo">{{trasferencia?.valor}}</td>
        <td class="tabela__conteudo">{{trasferencia?.destino}}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #semTransferencia>
    <p>Não a transferências disponiveis</p>
  </ng-template>

</section>
